@import "tailwindcss";
body {
  background-color: #101319;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  color:white;
}


.CustomScrollForCards {
  overflow: auto;                /* enable scrolling */
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}

/* Chrome, Safari, Edge */
.CustomScrollForCards::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.CustomScrollForCards::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.CustomScrollForCards::-webkit-scrollbar-track {
  background-color: transparent;
}
