@import "tailwindcss";

@theme {
  --breakpoint-xs: 400px;
 
}

body {
  background-color: #101319;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  color:white;
}

*::selection{
  background: #fff;
  color: #101319;
}

.CustomScrollForCards {
  overflow: auto;                /* enable scrolling */
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}

/* Chrome, Safari, Edge */
.CustomScrollForCards::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.CustomScrollForCards::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.CustomScrollForCards::-webkit-scrollbar-track {
  background-color: transparent;
}
